html {
  scroll-behavior: smooth;
}
body.loading {
  visibility: hidden;
}
body {
  margin: 0 0 0 0;
  background-color: rgba(16, 18, 20, 1);
  font-family: "Roboto Slab", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: white;
}

picture {
  text-align: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0 0 0 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  padding: 32px 80px;
}
/* Header */ /* Header */ /* Header */ /* Header */ /* Header */ /* Header */ /* Header */ /* Header */ /* Header */ /* Header */ /* Header */ /* Header */ /* Header */ /* Header */ /* Header */ /* Header */
.svgDownload {
  position: relative;
  right: 90px;
  fill: white;
  stroke: white;
}
.btnsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  gap: 24px;
}
.header {
  display: flex;
  margin-bottom: 150px;
}
.firstName {
  font-weight: 400;
  font-size: 28px;
  color: #ffea00;
  display: flex;
  align-items: center;
  margin-right: 160px;
}
.headerList {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: auto;
}
.headerItems {
  font-weight: 400;
  font-size: 28px;
  transition: 250ms ease-in;
}
.listLink {
  color: #ffea00;
}
.headerItems:hover {
  transform: scale(1.2);
}
.btnSwitch {
  border: 1px solid #ffea00;
  padding: 4px 16px;
  width: 103px;
  height: 55px;
  background-color: transparent;
  color: yellow;
}
.btnContact {
  border-radius: 40px;
  padding: 15px 32px;
  color: black;
  border-color: #ffea00;
  background-color: #ffea00;
  transition: 250ms ease-in;
  position: relative;
    transition: all 0.4s ease-in-out;
}
.btnContact:hover {
  color: yellow;
  background-color: black;
}
.btnContact:focus {
    animation: btnAnimated 1s ease-in-out;
}
.svgValek {
  margin-right: 39px;
}
.vector {
  fill: #ffea00;
}

/* FirstSection */ /* FirstSection */ /* FirstSection */ /* FirstSection */ /* FirstSection */ /* FirstSection */ /* FirstSection */ /* FirstSection */ /* FirstSection */ /* FirstSection */
.firstTitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 90px;
}
.firstWrapper {
  flex-direction: column;
}
.Name {
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 96px;
  color: transparent;
  display: flex;
  gap: 10px;
}

.snapName,
.spanSecondNAme {
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.snapName {
  background-image: linear-gradient(174deg, #ffea00 30%, #fff 100%);
}

.spanSecondNAme {
  background-image: linear-gradient(230deg, #fff 60%, #ffea00 100%);
}

.textUnderName {
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  max-width: 822px;
  color: rgb(255, 255, 255);
  white-space: pre-line;
  margin-bottom: 32px;
}
.btn-contactMe {
  padding: 21px 60px;
  background-color: #fff8a6;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 80px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
box-shadow: 0px 0px 40px rgb(153, 143, 0);
  animation: right-to-left 1s infinite ease-out;
}
.svgInBtn {
  margin-left: 15px;
  padding: 0;
  animation: right-to-left 1s infinite ease-out;
}

.secondWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 500px;
}
.firstPlus {
  display: flex;
  margin-right: auto;
  position: relative;
  bottom: 80px;
  left: -120px;
}
.imgMan {
  margin: 0 auto;
  position: relative;
  top: -80px;
  right: 40px;
  transform: scale(1.5);
}
.textToWork {
  border: 4px solid #ffea00;
  font-weight: 500;
  font-size: 24px;
  width: 250px;
  text-align: center;
  position: relative;
  top: -5px;
  right: 40px;
  padding: 10px;
}

.textToWork::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ffea00;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.secondPlus {
  display: flex;
  margin-left: auto;
  position: relative;
  bottom: 120px;
  left: 135px;
}

.input-container {
  max-width: 1800px;
  text-align: center;
}

#animatedInput {
  width: 1748px;
  font-size: 38px;
  padding: 20px;
  border: 2px solid #ffea00; /* Обводка цвета #ffea00 */
  background-color: transparent; /* Прозрачный фон */
  color: #ffffff; /* Цвет текста */
  text-align: left;
  font-family: "Arial", sans-serif;
  outline: none;
}

#animatedInput:focus {
  border-color: #4caf50;
}

/* SEcond section */ /* SEcond section */ /* SEcond section */ /* SEcond section */ /* SEcond section */ /* SEcond section */ /* SEcond section */ /* SEcond section */
.secondTitle {
  font-weight: 600;
  font-size: 48px;
  color: #ffea00;
  margin-bottom: 64px;
}
.secondTitle::after {
  margin-left: 75px;
  content: "";
  display: inline-block;
  width: 1158px;
  height: 3px;
  background-color: #ffea00;
  vertical-align: middle;
}
.secondSection-wrapper {
  display: flex;
  flex-direction: row;
}
.secondList {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  gap: 16px;
  margin-right: 170px;
}
.secondList .secondList-items:nth-child(5) p {
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  color: #ffea00;
}
.secondText {
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
}
.btnReadMore {
  padding: 21px 30px;
  background-color: #fff8a6;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 80px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 40px rgb(153, 143, 0);
  transition: 250ms ease-in;
}
.btnReadMore:hover {
  transform: scale(1.1);
}
.upperSvgWomen {
  position: relative;
  top: 523px;
  left: 75px;
}
.womenWithPaper {
  transform: scale(1.5);
  position: relative;
}
.stroke {
  position: relative;
}
.stroke::after {
  content: "";
  display: inline-block;
  width: 350px;
  height: 2px;
  background-color: #ffea00;
  position: absolute;
  top: 1652px;
  left: -125px;
}
.lowerSvgWomen {
  position: relative;
  right: -30px;
}
.svgArrow {
  margin-left: 140px;
  animation: upDown 1s infinite ease-out;
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Third section */ /* Third section */ /* Third section */ /* Third section */ /* Third section */ /* Third section */ /* Third section */ /* Third section */ /* Third section */ /* Third section */ /* Third section */ /* Third section */
.thirdSection {
  margin-bottom: 150px;
}
.ThirdSectionWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}
.thirdSection-list {
  border: 2px solid #5a5948;
}
.thirdSection-items {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.shadowText {
  font-weight: 400;
  color: #5f5f5f;
  margin-bottom: 8px;
  margin-left: 8px;
}
.textInItems,
.textInItems2,
.textInItems3 {
  margin-left: 8px;
  font-weight: 400;
  font-size: 20px;
}
.strokeText {
  border: 2px solid #5a5948;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-left: 0;
  padding: 10px 0 5px 8px;
}

/* Fourth Section */ /* Fourth Section */ /* Fourth Section */ /* Fourth Section */ /* Fourth Section */ /* Fourth Section */ /* Fourth Section */ /* Fourth Section */ /* Fourth Section */
.fourthSection {
  margin-bottom: 230px;
}
.fourthSection-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fourthSection-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.fourthSection-items {
  text-align: center;
}
.fourthSection-text {
  border: 2px solid #ffea00;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 36px;
}
.bodySkills {
  position: relative;
  left: 150px;
  top: 200px;
  transform: scale(1.5);
}
.fourthSection-text.HTMLCSS {
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spanText {
  color: white;
  font-weight: 500;
  font-size: 36px;
  border-bottom: none;
  border: 2px solid #ffea00;
  border-bottom: none;
}
.spanText.tools {
    position: relative;
  bottom: 20px;
  padding: 20px 115px;
  max-width: 300px;
}
.spanText.Sphere {
    position: relative;
  bottom: 20px;
  padding: 20px 135px;
}
.spanText.language {
  position: relative;
  bottom: 20px;
  padding: 20px 80px;
}
.fourthSectionList-In-li {
  border: 2px solid #ffea00;
}
.fourthSectionItems-In-ul {
  text-align: left;
  color: white;
  font-weight: 500;
  font-size: 36px;
  padding: 5.5px 20px;
}

.underSphere-items {
  border: 2px solid #ffea00;
  border-bottom: none;
}
.underSphere-list {
margin-top: 20px;
}
.spanAdditional {
  font-weight: 500;
  font-size: 36px;
  color: white;
  display: flex;
  text-align: center;
  padding: 9px 40px;
}
.itemsOfKnowledge {
  font-weight: 500;
  font-size: 36px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.itemsOfKnowledge:nth-child(n + 2) {
  margin: 10px;
}
.listOfKnowledge {
  margin-top: 20px;
  border: 2px solid #ffea00;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.knowledgeSpan {
  border: 2px solid #ffea00;
padding: 20px 0;
  font-weight: 500;
  font-size: 36px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-left: none;
  border-right: none;
  border-top: none;
}
/* Fifth Section */ /* Fifth Section */ /* Fifth Section */ /* Fifth Section */ /* Fifth Section */ /* Fifth Section */ /* Fifth Section */ /* Fifth Section */ /* Fifth Section */ /* Fifth Section */
.fifthSectionWrapper {
  display: flex;
  flex-direction: row;
}
.wrapperForLabel {
  display: flex;
  flex-direction: column;
}
.fifthSectionText {
  font-weight: 500;
  font-size: 32px;
  color: white;
  max-width: 600px;
  margin-bottom: 30px;
}
.contactForm {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 24px;
}

#name,
#email,
#title,
#message {
  background: none;
  border: 2px solid #5f5f5f;
  border-radius: 50px;
  width: 568px;
  height: 95px;
  color: white;
  padding-left: 20px;
}
#name:focus,
#email:focus,
#title:focus,
#message:focus {
  outline: none;
    border: 2px solid #ff9900;
    font-size: 20px;
}
.bodiesAroundPaper {
  position: absolute;
  left: 900px;
  top: 4700px;
}
.btnSubmit {
  padding: 21px 30px;
  background-color: #fff8a6;
    color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  margin-bottom: 250px;
  max-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
box-shadow: 0px 0px 40px rgb(153, 143, 0);
  transition: all 0.4s ease-in-out;
  margin-top: 24px;
}
.btnSubmit:hover {
  transform: scale(1.1);
}
.btnSubmit:focus {
  animation: btnAnimated 1s ease-in-out;
}
@keyframes btnAnimated {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.btnSubmitSpan {
  position: relative;
  z-index: 1;
  font-size: 20px;
  transition: all 0.4s ease-out;
}
/* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */
.footerStroke::before {
  position: relative;
  width: 1800px;
  background-color: #ffea00;
  content: "";
  display: inline-block;
  height: 3px;
  left: -40px;
  margin-bottom: 50px;
}
.footerWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.svgValekFooter {
  position: relative;
  bottom: 40px;
  margin-right: 10px;
}
.footerValentine {
  font-weight: 400;
  font-size: 36px;
  color: #ffea00;
  margin-right: 16px;
}
.footerEmail {
  font-weight: 400;
  font-size: 24px;
  color: #5f5f5f;
  margin-right: 175px;
  margin-top: 10px;
}
.footerList {
  margin-right: 170px;
}

.textInLi {
  padding: 10px 60px;
  border: 2px solid #ffea00;
  border-bottom: none;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}
.listInFooterList {
  padding: 10px 20px;
  border: 2px solid #ffea00;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.itemsInList {
  padding: 15px 0;
  display: inline-block;
  position: relative;
  transition: 250ms ease-in;
}
.itemsInList:hover {
  transform: scale(1.3);
}

.textNavigation {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 20px;
}
.navList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: left;
}
.navItems {
  font-weight: 400;
  font-size: 32px;
  color: #5f5f5f;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.navItems:hover {
  color: #ffea00;
}
.navItems::before {
  display: inline-block;
  content: "↪";
  position: absolute;
  left: -50px;
  top: -10%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  transform: scale(1.5);
}

.navItems:hover::before {
  opacity: 1;
}

.svgFooterContact {
  fill: white;
  stroke: white;
}
.textWrapper {
  position: relative;
  bottom: 180px;
  left: 25px;
  max-width: 300px;
}
.lowerText {
  font-weight: 400;
  font-size: 24px;
  max-width: 300px;
}
.valentynEmail {
transition: 250ms ease-in;
  display: inline-block;
  position: relative;
}
